@import "tailwindcss";
@theme {
  /* Mono */
  --color-light-100: #ffffff;
  --color-light-200: #f5f5f5;
  --color-light-300: #e5e5e5;
  --color-dark-900: #0a0a0a;
  --color-dark-800: #1a1a1a;
  --color-dark-700: #4a4a4a;

  /* Branding */
  --color-primary-800: #0c1f3f;
  --color-primary-700: #16305e;
  --color-accent-600: #b8860b;
  --color-accent-500: #DFB85F;

  /* Fonts */
  --font-title: var(--font-title);
  --font-heading: var(--font-heading);
  --font-text: var(--font-text);
  --font-hindi: var(--font-hindi);
  --font-arabic: var(--font-arabic);
  --font-highlight: var(--font-highlight);
}