@import "tailwindcss";

@theme {
  /* Mono */
  --color-light-100: #FFFFFF;
  --color-light-200: #F7FAFC;
  --color-light-300: #E8EDF2;
  --color-dark-900: #202020;
  --color-dark-800: #54555A;
  --color-dark-700: #BDC5D0;

  /* Branding */
  --color-primary-800: #003A6C;
  --color-primary-700: #0B3969;
  --color-accent-600: #B68F24;
  --color-accent-500: #DFB85F;

  /* Fonts */
  --font-title: var(--font-title);
  --font-heading: var(--font-heading);
  --font-text: var(--font-text);
}